@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,700&family=Source+Sans+Pro:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #fcfcfc;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

h4,
h5,
h6,
p {
  font-family: "Source Sans Pro", sans-serif;
}

.artists-scroll-container {
  overflow-x: hidden;
  position: relative;
}

.scroll-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 80%;
  z-index: 1;
}

.full-bleed {
  box-shadow: 0 0 0 1000px #627a6e;
  clip-path: inset(0 -100vmax);
}

.full-bleed-gray {
  box-shadow: 0 0 0 1000px #c6c9c9;
  clip-path: inset(0 -100vmax);
}

.scroll-arrows button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  outline: none;
}

.scroll-arrows button:hover {
  @apply text-light-gray;
}

.scroll-arrows button.left {
  left: 16px; /* Adjust the position from the left */
}

.scroll-arrows button.right {
  right: 16px; /* Adjust the position from the right */
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}

nav a:hover {
  @apply text-dark-gray;
}
